*{
    margin:0;
    box-sizing: border-box;
    padding: 0;
}
img{
    max-width: 100%;
}
.wrapper{
    background-image: url("../images/background-image.png");
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100vh;
    color: white;
}
.wrapper::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgb(0,0,0,0.25);
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.menu-logo{
    position: absolute;
    font-size: 32px;
    padding: 28px 32px;
    top: 44px;
    background-color: black;
    z-index: 1;
}

.menu:hover{
    cursor: pointer;
}
.menu:hover .menu-items{
    cursor: pointer;
    /* display: inline-block; */
    left: 0;
}
.menu-items{
    position: absolute;
    /* display: none; */
    text-align: center;
    background-color: black;
    border-radius: 0 25px 25px 0;
    top:13.65%;
    padding: 17px 11px;
    left:-400px;
    transition: left 1s linear;
}

.menu-items ul li a{
    display: inline-block;
    width: 100%;
    padding: 12px 57px;
    font-size: 18px;
    color: white;
    font-weight: 100;
    
}
.hat-logo{
    width: 50%;
    margin: 6px auto;
    padding: 12px;
}

.menu-items ul li a:hover{
    cursor: pointer;
}
.heading{
    font-size: 37px;
    text-align: center;
    padding: 4px;
    /* background-color: red; */
    position: relative;
    top: 44px;
}
.brand-year{
    position: absolute;
    font-size: 40px;
    transform: rotate(270deg);
    z-index: 1;
    /* background-color: red; */
    right: -106px;
    top: 18.1%
}
#year{
    font-size: 120px;
    font-weight: 900;
}
.content{
    position: absolute;
    font-size: 106.677777px;
    bottom: 100px;
    right: 355px;
    width: 48%;
    font-weight: 600;
    margin: 0 auto;
}

#twitter-icon{
    color: white;
    position: absolute;
    bottom: 17px;
    font-size: 32px;
    right: 83px;
}
#facebook-icon{
    color: white;
    position: absolute;
    bottom: 17px;
    font-size: 32px;
    right: 27px;

}
