* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Source Sans Pro", sans-serif;
   
  }
  
  /* header section */
  
  header{
    background-color: #aae187;
}
.header {
      width: 96.5%;
      margin:0 auto;
    font-size: 20px;
    letter-spacing: 1.5px;
    font-weight: 700;
    padding: 23px 0;
  }
  
  #product-description {
    float: right;
  }
  
  .clearfix {
    clear: right;
  }
  
  /* application layer */
  
  .application-layer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    color: #ffffff;
     background-color: #000;
  }
  
  .application-layer p {
    text-align: center;
    font-size: 3.4rem;
  }
  
  .hide {
    display: none;
  }
  .animation{
    position: relative;
    animation: shake 0.5s linear;
    animation-iteration-count: 2;
  }
  @keyframes shake {
    0%{
      left: 10px;
    }
    50%{
      left: -20px;
    }
    100%{
      left: 0px;
    }
  }
  .application-layer-button {
    width: 218px;
    background-color: inherit;
    padding: 14px;
    font-size: 22px;
    font-weight: 900;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 5px;
  }
  
  .application-layer-button:hover {
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
  }
  
  /* shape layer */
  
  .shapes-container {
    width: 43%;
    margin: 87px auto 90px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .shapes-container > div {
    position: relative;
  }
  
  .circle {
    height: 153px;
    width: 153px;
    border-radius: 50%;
    background-color: #00987c;
  }
  
  .triangle-container {
    height: 160px;
    width: 160px;
  }
  
  .triangle {
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-bottom: 160px solid #ffabdc;
  }
  
  .square {
    width: 152px;
    height: 152px;
    background-color: #e0e0e0;
  }
  
  .shape:hover {
    cursor: pointer;
  }
  
  .fa-check {
    position: absolute;
    top: 32%;
    left: 30%;
    font-size: 3.6rem;
  }
  
  .triangle-container .fa-check {
    top: 48%;
  }
  
  /* input layer */
  
  .inputField {
    margin: 52px auto 55px;
    background-color: inherit;
    border: 2px solid #fff;
    font-size: 45px;
    color: #fff;
    padding: 13px;
    height: 90px;
    width: 16em;
    text-align: center;
  }
  
  /* output layer */
  
  .shape-container + p {
    margin: 28px auto 0;
  }
  
  .result-table {
    border-spacing: 0;
    font-size: 22px;
    letter-spacing: 1.5;
    font-weight: 100;
    border-spacing: 0 18px;
  }
  
  .result-table td {
    padding: 8px 14px;
  }
  
  .result-table td:first-child {
    background-color: #0b62d5;
    width: 210px;
  }
  
  .result-table td:nth-child(2) {
    background-color: #455d7e;
    width: 130px;
  }
  
  .result-table td:nth-child(3) {
    background-color: #3188ff;
  }

#startButton{
    margin-top: 65px;
}
  
  